@import './reset';
body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 150px;
  background-color: #279aba;
}
h1{
  font-size: 60px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
}
p{
  color: #fff;
  margin-top: -20px;
}